{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>Alright, now that's a 404! 😱</h1>
<h2>What's 404 you might ask? 🤔</h2>
<h3>There are 2 possibilities: 🧐</h3>
<ol>
    <li>You are not supposed to be here🤨, which is awkward. Maybe you should <a href="/">head back!</a></li>
    <li>
        This is still in development.🧑‍💻 <br>
        And if you are here that probably means you are intersted in this.😍<br>
        👀 This project is in early stages of development. <br>
        <strong> 🤗 Please  <a href="/Contribute">contribute content</a> if possible! 🤝</strong><br> 
<b>🫵 You can <b> <a href="/Contribute">SUBMIT</a></b> simple text/markdown content, I will format it! 🙌</b>
<meta name="google-adsense-account" content="ca-pub-4988388949365963">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4988388949365963"
    crossorigin="anonymous"></script>
    </li>
</ol>
{% endblock %}