{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  👀 This project is in early stages of development. <strong> 🤗 Please <a href="/Contribute">contribute content</a> if possible! 🤝</strong><br> 
<small>🫵 You can <b> <a href="/Contribute">SUBMIT</a></b> simple text/markdown content, I will format it! 🙌</small>
<meta name="google-adsense-account" content="ca-pub-4988388949365963">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4988388949365963"
    crossorigin="anonymous"></script>
{% endblock %}